<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>113558392016-4lcgacval3n8f6p78ls7gsop4ejfncsc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.113558392016-4lcgacval3n8f6p78ls7gsop4ejfncsc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>113558392016-1b1142h11ram2vfvsivg1tfh1qdh09b0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBTrNnu9uFlXGMxAwDVMXDWgVyO3mFx1vU</string>
	<key>GCM_SENDER_ID</key>
	<string>113558392016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.appventaelsapato</string>
	<key>PROJECT_ID</key>
	<string>app-venta-elsapatao</string>
	<key>STORAGE_BUCKET</key>
	<string>app-venta-elsapatao.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:113558392016:ios:b5eff10c66e27e4426e2d5</string>
</dict>
</plist>